<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-
//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">
            com.mysql.jdbc.Driver
        </property>
        <property name="hibernate.connection.url">
            jdbc:mysql://localhost:3306/1412573_hibernate
        </property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <mapping resource="model/pojo/Subject.hbm.xml"/>
        <mapping resource="model/pojo/SubjectName.hbm.xml"/>
        <mapping resource="model/pojo/Student.hbm.xml"/>
        <mapping resource="model/pojo/SubjectStudent.hbm.xml"/>
        <mapping resource="model/pojo/Attendance.hbm.xml"/>
        <mapping resource="model/pojo/StudentLogin.hbm.xml"/>
        <mapping resource="model/pojo/GiaoVuLogin.hbm.xml"/>
    </session-factory>
</hibernate-configuration>